{% extends 'base.html' %}



{% block content %}
<div class="container">
    <!--header sec-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Search for any of your favorite game! We have it all!</h2>
            <h5>View your favorite games from the best online game store!</h5>

            <div>
                <button class="btn btn-primary">View our Games Selection</button>
                <button class="btn btn-primary">Join our Group</button>
            </div>
        </div>
            <!--header img-->
            <div class="col-12 col-md-6">
                <img src="../../static/images/image1.jpg" alt="Header Image" class="header-image">
            </div>

    </header>
    <!--end of header sec-->
    <!--middle sec-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Many Variety of Games</h2>
            <p>This is where you live through the game you love!</p>
        </div>
    </section>
    <!--end middle sec-->

    <!--collection of games section-->
    <section class="row" id="games-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/game1.jpg" alt="Game1 image" id="game1-image">
            <h4>Watch Dog</h4>
            <p>2010 Most anticipated Game award</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/game2.png" alt="Game2 image" id="game2-image">
            <h4>FarCry 6</h4>
            <p>2021 Most anticipated Game award</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/game3.png" alt="Game3 image" id="game3-image">
            <h4>Gran Turismo 6</h4>
            <p>2014 Most anticipated Game award</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/game4.png" alt="Game4 image" id="game4-image">
            <h4>Fight Night Champion</h4>
            <p>2011 Most anticipated Game award</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/game5.jpg" alt="Game5 image" id="game5-image">
            <h4>Max Payne 3</h4>
            <p>2011 Most anticipated Game award</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/game6.jpg" alt="Game6 image" id="game6-image">
            <h4>Grand theft Auto 4</h4>
            <p>2008 Most anticipated Game award</p>
        </div>

    </section>
    <!--end of games selection-->
    <!-- group/clan section-->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/image2.jpg" alt="Group Image" id="group-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Join our GamePlay portal group</h4>
            <p>Talk with other fun gamers just like you!</p>
            <div>
                <button class="btn btn-primary">View Current Groups</button>
                <button class="btn btn-primary">Join gamePlay Groups</button>
            </div>
        </div>
    </section>
    <!-- end of group/clan section-->
    <!--start of footer-->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/logo1.avif" alt="gamePlay Logo" id="circular-logo"> 
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>GamePlay Rental</h4>
                <p>Always Choose GamePlay</p>
                <p>Our Mission</p>
                <p>Join Us</p>
                <p>Support to Keep Gaming Alive</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>GamePlay Rental</h4>
                <p>Always Choose GamePlay</p>
                <p>Our Mission</p>
                <p>Join Us</p>
                <p>Support to Keep Gaming Alive</p>
            </div>
        </div>
    </footer>

</div>

{% endblock content %}